*, *::before, *::after
{
  /* padding: 0;
  margin: 0;  */
  box-sizing: border-box;
}

@keyframes comingsoon {
  0% {font-size: 15px ;
  text-shadow: none;}
  25% {font-size: 20px ;
  text-shadow: 5px 5px 30px #16e0bd;}
  50% {font-size: 15px ;
    text-shadow: none}
  75% {font-size: 20px;
    text-shadow: 5px 5px 30px #16e0bd;}
  100% {font-size: 15px;
    text-shadow: none;}
  
}
 .coming-soon{
  /* font-size: 20px;
  transition: font-size .8s; */
  color: var(--clr-accent);
  animation-name: comingsoon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out ;
}

.coming-soon:hover{
  /* font-size: 30px; */
  cursor: pointer;
}

/* Define constants */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --ff-logo: 'Sacramento',monospace;

  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 2.5rem;
  --fs-body: 1rem;

  /* box-shadow */
  --bs: -0.25em -0.25em 0.4em rgba(0,0,0,.25);
  --bs-small: .25em .25em .4em rgba(0,0,0,.25);
        /* 0.125em 0.125;  */
}


 
/* General Style */
html{
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}


strong { font-weight: var(--fw-bold) }

/* Buttons */

.btn {
  display: inline-block;
  padding: .5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transfrom 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section-title {
  margin-bottom: .25em;
}

.section-title-intro {
  font-weight: var(--fw-reg);
}

.section-title-intro strong {
  display: block;
}

.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 0.5em;
}


/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: baseline;
}

.logo {
  max-width: 200px;
  font-family: var(--ff-secondary);
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px 15px;
  /* box-shadow: 0.25em 0.25em 0.4em grey;
  border-radius: 50%; */
}


/*  Intro section  */
.intro {
    position: relative;
}

.intro-img {
  box-shadow: var(--bs);
  /* border-radius: 10%; */
}

.section-subtitle-intro {
  display: inline-block;
  width: 100%;
}

  /* My Services section */
  .my-services {
    background-color: var(--clr-dark);
    background-image: url(../images/services-bg.jpg);
    /* filter: blur(8px); Cannot be used as the text also gets blurred */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section-title-services {
    color: var(--clr-accent);
    position: relative;
}

.section-title-services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}


/* About me section */
.about-me {
  max-width: 80%;
  margin: 0 auto;
}

.about-img {
  box-shadow: var(--bs);
}

/* My work */
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;    
}

/* resume viewer */
.resume-view{
  text-align: center;
}

.btn-container{
  padding-top: 2em;
}

.resume-btn{
  display: inline-block;
  padding: .5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transfrom 200ms ease-in-out;
}

.resume-btn:hover {
  transform: scale(1.1);
}

.resume-link{
  text-decoration: none;
  color: var(--clr-dark);
}


/* footer */
.connection{
  font-size: .6em;
  text-transform: uppercase;
}

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a{ 
  color: inherit;
  text-decoration: none; 
}

.footer-link {
  font-weight: var(--fw-bold);
}

.footer-link:hover, .social-list-link:hover{
  opacity: .7;
}

.footer-link:hover{
  text-decoration:underline ;
}

.social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list-item{
  margin: 0 .5em;
}

.social-list-link{
  padding: .5em;
}
